/* clientListPage.css */

.requestListPageContainer {
  padding: 20px;
  }

.requestListContainer {
    max-height: calc(100vh - 250px);
    overflow: auto;
  }

.requestList {
  width: 70%;
  margin: auto;
}
   
.requestList th{
    background: #45a049;
    color: white;
    height: 30px;
   } 
  
  .requestList tbody tr:nth-child(odd) {
    background: #fff5e0;
  }
  .requestList tbody tr:nth-child(even) {
    background: #d4f2be;
  }
  
.requestList > tbody > tr > td:first-child {
    width: 20%;
   }
  
.requestList > tbody > tr > td:not(first-child) {
    width: 60%;
   }

.requestList > tbody > tr > td:last-child {
    width: 20%;
   }

.requestList > tbody > tr > td:last-child > div:first-child{
    width: 100%;
    display: flex;
    gap: 8px;
   }

.requestList > tbody > tr > td:last-child > div:first-child  > div{
    flex-basis: 50%;
   }

.requestList .button {
    margin-top: 0;
    width: 100%;
  }