/* Estilos para el contenedor principal del dropdown */
.select {
    height: 50px;
    width: 50%;
    background: transparent; /* Elimina el fondo */
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }


  