@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.formRequest {
  background: transparent;
  width: 360px;
  margin: 0 auto 100px;
  padding: 45px; 
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
/* .Input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #baf072;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin-left: 10px;
} */


