@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.formRequest {
  background: transparent;
  width: 360px;
  padding: 34px; 
  text-align: center;
  display: flex;
  flex-direction: column;
}

.textArea {
  min-height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}


