.addFoodPageContainer {
    padding: 45px;
}

.addFoodPageContainer label{
    margin-top: 10px;
}

.foodSaveButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.foodSaveButtons .button{
    width: 100%;
}