
.navbar {
  height: 70px;
  /* background: #e0ffe0; */
  background: transparent;
  border: none;
  transition: background-color 0.3s;
  will-change: transform;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}


.navbar .adminButtons,
.navbar .regularButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .adminButtons button,
.navbar .regularButtons button {
  padding: 10px 20px;
  margin: 0 5px;
  margin-top: 20px;
  border: none;
  background-color: transparent;
  color: darkgreen;
  border: 1px black;
  font-size: 15px; 
  cursor: pointer;
  background: 0.3s, color 1s;
}

.navbar .adminButtons button:hover,
.navbar .regularButtons button:hover {
  font-weight: bold; 
}

