

/* Navbar ============================= */
.navbar {
  height: 70px;
  background: #e0ffe0;
  border: none;
  transition: background-color 0.3s;
  will-change: transform;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}


.navbar .adminButtons,
.navbar .regularButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .adminButtons button,
.navbar .regularButtons button {
  padding: 10px 20px;
  margin: 0 5px;
  margin-top: 20px;
  border: none;
  background-color: transparent;
  color: darkgreen;
  border: 1px black;
  font-size: 20px; /* Aumentar el tamaño de la letra */
  cursor: pointer;
  background: 0.3s, color 1s;
}

.navbar .adminButtons button:hover,
.navbar .regularButtons button:hover {
  font-weight: bold; /* Cambia el color del texto en hover */
}

/* .navbar .adminButtons button {
  color: var(--font-dark); 
}

.navbar .adminButtons button:hover {
  color: var(--border-light); 
} */

/* Modal and other components styling here */
