

  .clientListPageContainer {
    padding: 20px;
  }
  
  .clientTableContainer  {
    max-height: calc(100vh - 250px);
    overflow: auto;
  }

  .clientTable th{
    background: #45a049;
    color: white;
    height: 30px;
   } 
  .clientTable tbody tr:nth-child(odd) {
    background: #fff5e0;
  }
  .clientTable tbody tr:nth-child(even) {
    background: #d4f2be;
  }
   
  
  .clientTable > tbody > tr > td:first-child {
    width: 25%;
    text-align: center;
   }
  .clientTable > tbody > tr > td:not(first-child) {
    width: 5%;
   }
 
   .clientTable > tbody > tr > td:last-child > div:first-child{
    width: 100%;
    display: flex;
    gap: 8px;
   }

   .clientTable > tbody > tr > td:last-child > div:first-child  > div{
    flex-basis: 50%;
   }

.clientTable .button {
  margin-top: 0;
  width: 100%;
}