/* .input-label {
    margin-right: 10px; 
    font-size: 16px; 
    margin-top: 10px;
    margin-bottom: 10px; 
  }

.input {
    height: 50px;
    width: 50%;
    background: transparent; 
    border: transparent; 
    border-bottom: 2px solid #000; 
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;    
} */

/* .input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block; 
    margin: 0 auto;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }

.input:focus { outline:none; } */

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  height: 70px;
}

.input input:focus {
  border-color: #07080a;
}

@media (min-width: 768px) {
  .input {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 5px;
    align-items: center;
  }

  .input label {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }

  .input input {
    grid-column: 1;
    grid-row: 2;
  }
}


  