/* clientListPage.css */

.foodListPageContainer {
    padding: 20px;
  }
  
.foodTableContainer {
  max-height: calc(100vh - 250px);
  overflow: auto;
}
 
 .foodTable th{
  background: #45a049;
 } 

 .foodTable > tbody > tr > td:first-child {
  width: 45%;
 }
 .foodTable > tbody > tr > td:not(first-child) {
  width: 20%;
 }
 .foodTable > tbody > tr > td:last-child {
  width: 15%;
 }
 .foodTable .button {
    
       margin: 0 ;
      width: 100%;
  
 }