/* clientListPage.css */

.foodListPageContainer {
    margin: 20px auto;
    padding: 20px;
    /* max-width: 800px; */
    margin-left: 200px;
    margin-right: 200px;
    background-color: #f8f9fa; /* Color de fondo */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .foodListPageContainer h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* Color del texto */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
    border: 1px solid #ccc; /* Borde de las celdas */
  }
  
  table th {
    background-color: #21f383; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
  }
  
  table td {
    background-color: white; /* Color de fondo de las celdas */
    color: #333; /* Color del texto de las celdas */
  }
  
  
  table a {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #21be26;
  }
  
  
 
  