.foodInfoWrapper {
    padding: 45px;
}

.foodInfoWrapper label{
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.buttons .button{
    width: 100%;
}