<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios registrados</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'backend/css/style_listUsers.css' %}"></head>
</head>
<body>
    <h2>List of registered users</h2>
    <table>
        <thead>
            <tr>
                <th>User name</th>
                <th>e-mail</th>
                <th>Weight (kg)</th>
                <th>Age</th>
                <th>Height (cm)</th>
                <th>Objetive</th>
                <th>Allergies</th>
            </tr>
        </thead>
        <tbody>
            {% for data in db_data %}
            <!-- Aquí se mostrarán los datos de los clientes -->
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.weight }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.height }}</td>
                <td>{{ data.objective }}</td>
                <td>{{ data.allergies }}</td>
                <td>
                    <a href="#" class="btn btn-primary">Update</a>
                    <a href="{% url 'delete' data.user_ptr_id %}" class="btn btn-danger">Delete</a>
                </td>

            </tr>
            {% endfor %}
            <!-- Puedes repetir esta estructura para cada cliente -->
        </tbody>
    </table>
</body>
</html>