<!DOCTYPE html>
<html>
<head>
    <title>Menú Semanal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'backend/css/style_menu.css' %}"></head>
</head>
<body>
    <h1>Menú Semanal</h1>
    <h2>Fecha de inicio: {{ menu.start_date }}</h2>
    <h2>Fecha de fin: {{ menu.end_date }}</h2>
    
    <table>
        <tr>
            <th>Día de la Semana</th>
            <th>Comida</th>
            <th>Alimento</th>
            <th>Calorias</th>
        </tr>
        {% for alimento in alimento %}
        <tr>
            <td>{{ alimento.day_of_week }}</td>
            <td>{{ alimento.meal }}</td>
            <td>{{ alimento.food.food_name }}</td>
            <td>{{ alimento.calories }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>